@import "tailwindcss";

body, html, #root {
  height: 100%;
  margin: 0;
  background-color: #262626; /* Dark background matching Mochi */
  color: #d1d5db;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border-inline: none;
  min-height: 100svh;
}
